**/*.log
.env
.npmrc
/.idea
/.vscode
/build
/coverage
/node_modules
src/**/*.js
db
/.wakatime-project

# May be used to test decorators and their typings when working on the event distribution system.
src/programs/decorator-test.ts

# Generated GraphQL files
schema.graphql
src/__generated__/
src/**/*.generated.ts

# One off scripts that are not relevant to the repository.
src/scripts/

.yarn/
