**/*.log
.env
.npmrc
/.idea
/.vscode
/build
/coverage
/node_modules
src/**/*.js
db
/.wakatime-project

# May be used to test decorators and their typings when working on the event distribution system.
src/programs/decorator-test.ts
